.upgradeRisksCard {
  max-width: 400px;
  min-width: 300px;

  :global(.pf-v6-c-card__header) {
    padding-bottom: 0;
  }
}

.cardTitle {
  font-size: 1rem;
  font-weight: 600;
  color: var(--pf-t--global--text--color--regular);
}

.totalSection {
  padding: 1rem;
}

.totalNumber {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
  color: var(--pf-t--global--text--color--regular);
}

.totalLabel {
  font-size: 0.875rem;
  color: var(--pf-t--global--text--color--subtle);
}

.riskIcon {
  width: 1.5rem;
  height: 1.5rem;

  svg {
    width: 100%;
    height: 100%;
  }
}

.criticalIcon {
  color: var(--pf-t--global--icon--color--status--danger--default);
}

.warningIcon {
  color: var(--pf-t--global--icon--color--status--warning--default);
}

.infoIcon {
  color: var(--pf-t--global--icon--color--status--info--default);
}

.riskCount {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  color: var(--pf-t--global--text--color--regular);
}

.riskLabel {
  color: var(--pf-t--global--text--color--subtle);
}

.viewLink {
  padding: 1rem 0;
}


